[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
	branch = tiny-curl-8_4_0
